* {
    margin: 0%;
    padding: 0%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Capriola", sans-serif;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header {
    background-color: hsl(210, 10%, 15%);
    font-family: sans-serif;
    color: white;
    padding: 20px 0px;
    border-bottom: 3px solid hsl(182, 100%, 40%);
    position: fixed;
    width: 100%;
}
.toplist {
    font-size: 1.1rem;
    text-align: center;
}
.toplist > ul {
    padding-inline-start: 0px;
}
.list > li {
    display: inline;
    margin: 10px 25px;
}
.links {
    text-decoration: none;
    color: white;
}
.links:hover {
    color: hsl(330, 100%, 50%);
}
.content {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 2.2rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(210, 10%, 15%);
    padding: 250px 0px;
}
.image {
    width: 200px;
}
.intro {
    line-height: 50px;
}
.myname {
    color: hsl(40, 100%, 50%);
    font-weight: 500;
}
.btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    border: 3px solid hsl(182, 100%, 40%);
    color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}
.btn1,
.btn2:hover {
    background-color: transparent;
    transition: all 0.2s;
}
.btn2,
.btn1:hover {
    background-color: hsl(182, 100%, 40%);
    transition: all 0.2s;
}
.btn3:hover {
    background-color: hsl(182, 100%, 40%);
}
.project {
    background-color: hsl(210, 10%, 15%);
    padding-bottom: 50px;
}
.abt,
.contactme {
    text-align: center;
    background-color: white;
}
.about,
.education,
.projects {
    text-align: center;
    margin: 150px 0px;
}
.contact {
    text-align: center;
    margin: 150px 0px 100px 0px;
}
.card {
    font-size: 2rem;
    color: hsl(330, 100%, 50%);
    padding-bottom: 10px;
}
.cardline {
    margin: 0 auto;
    width: 60px;
    height: 4px;
    background-color: hsl(330, 100%, 50%);
}
.about_content {
    margin: 60px 10px;
    line-height: 50px;
}
.about_me {
    line-height: 25px;
    width: 300px;
    font-family: "Raleway", sans-serif;
}
.hexagon {
    color: hsl(182, 100%, 40%);
    font-size: 4rem;
}
.siteflex {
    margin: 150px 0px;
}
.site {
    width: 300px;
    border-radius: 5px;
}
.link2 {
    text-decoration: none;
    color: white;
}
.link2:hover {
    color: hsl(182, 100%, 40%);
}
.textpad {
    padding: 25px 0px;
}
.form {
    margin: 50px 0px;
}
.inputbox {
    font-family: "Capriola", sans-serif;
    color: white;
    background-color: hsl(0, 0%, 30%);
    border-radius: 5px;
    border: none;
    margin: 2px;
    padding: 10px;
    width: 300px;
    resize: none;
}
.inputbox::placeholder {
    color: white;
}
.btn4 {
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: hsl(40, 100%, 50%);
}
.link5,
.link55,
.link555 {
    font-size: 3rem;
    text-decoration: none;
    margin: 30px;
}
.link5 {
    color: hsl(201, 100%, 35%);
}
.link55 {
    color: hsl(0, 0%, 0%);
}
.link555 {
    color: hsl(0, 100%, 50%);
}
.link5:hover,
.link55:hover,
.link555:hover {
    color: hsl(330, 100%, 50%);
}
.to_top {
    color: white;
    font-size: 3.5rem;
    padding: 10px;
    background-color: hsl(330, 100%, 50%);
}
.to_top:hover {
    background-color: hsl(182, 100%, 40%);
}
.foot {
    background-color: hsl(210, 10%, 15%);
    color: hsl(330, 100%, 50%);
    border-top: 2px solid hsl(182, 100%, 40%);
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 3rem;
}

@media (min-width: 320px) and (max-width: 576px) {
    .list > li {
        margin: 10px;
    }
}